<html>
  <head>
    <title>Liberator</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/coderay.css">
    <link rel="stylesheet/less" type="text/css" href="/css/custom.less">
    <script src="/js/less.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
